<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head.ejs', {title: projectData.title}) %>
    </head>
<body>
    <!--NAV-->
    <%- include('includes/nav') %>
    <!--HEADER-->
    <header class="portfolio">
        <img class="background-img" src="/images/VanOnBridge.jpeg" alt="">
        <h1 class="title"><%= projectData.title %></h1>
        <h4 class="subtitle"><%= projectData.description %></h4>
        <% if (owner) { %>
        <a href="/editor/<%= projectData.id %>">Edit project</a>
        <% } %>
    </header>
    <!--MAIN-->
    <main>
        <section class="description top">
            <%= projectData.markdownContent %>
        </section>
    </main>
</body>
</html>